@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
img{
  vertical-align: top;
  max-width: 100%;
}
button{
  cursor: pointer;
}
:root {
  --gray8: #1b1c1f;
  --gray7: #26282b;
  --gray6: #474c52;
  --gray5: #73787e;
  --gray4: #9fa4a8;
  --gray3: #cacdd2;
  --gray2: #eaebed;
  --gray1: #eaebed;
  --gray0: #ffffff;
  --home_border_color: #e0e0e0;
  --btn_color: #1456fd;
  /* header 관련 */
  --header-top: 45px;
  --header-height: 69px;
  --main-extra: 106px;
}
body {
  font-family: "TASA Explorer", sans-serif;
  font-style: normal;
}
.wrap{
  width: 100%;
}
.header_inner{
    width: 92%;
    max-width: 1760px;
    margin: 0 auto;
    position: relative;
    /* background: rgb(201, 245, 201); */
}
/* 헤더 */
header {
  width: 100%;
  max-width: 1760px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  /* position: fixed; */
  /* top: 45px; */
  /* left: 0; */
}
header .logo {
  width: 35.7px;
  height: 69px;
  flex-shrink: 0;
}
header .logo img {
  width: 100%;
  object-fit: cover;
}
header nav .gnb {
  display: flex;
  gap: 36px;
  cursor: pointer;
}
header nav .gnb li:hover{
  color: var(--gray5);
}
.home_nav {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 20px;
  font-weight: 500;
}
/* 본문 */
.detail_inner{
  width: 80%;
  max-width: 1496px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  padding-bottom: 150px;
}
.detail_inner .detail_left{
  width: 524px;
  /* background: pink; */
}
.detail_inner .detail_left h2{
  color: var(--gray8, #1B1C1F);
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 35px;
}
.detail_left .detail_desc_wrap>p{
  color: var(--gray8, #1B1C1F);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.18px;
  margin-bottom: 20px;
}
.detail_left .detail_desc_wrap ul li{
  display: flex;
  border-bottom: 0.5px solid var(--gray3);
}
.detail_left .detail_desc_wrap ul li p{
  padding: 10px 0;
}
.detail_left .detail_desc_wrap ul li:first-child p:nth-child(2){
  margin-left: 73px;
}
.detail_left .detail_desc_wrap ul li:nth-child(2) p:nth-child(2){
  margin-left: 65px;
}
.list_title{
  color: var(--gray4, #9FA4A8);
  font-size: 16px;
  font-weight: 500;
}
.list_detail{
  color: var(--gray7);
  font-weight: 500;
}
.detail_desc_wrap .btn_wrap{
  display: flex;
  gap: 28px;
  margin-top: 30px;
}
.detail_desc_wrap .btn_wrap button{
  width: 248px;
  height: 65px;
  border: 0;
  background: var(--btn_color);
}
.detail_desc_wrap .btn_wrap button:hover{
  background: #0B44D3
}
.detail_desc_wrap .btn_wrap button a{
  font-size: 18px;
  font-weight: 400;
  color: var(--gray0);
  height: 100%;
  line-height: 65px;
}
.detail_inner .detail_right{
  width: 55%;
  max-width: 852px;
}
.detail_img{
  display: block;
  max-width: 1400px;
  margin: 0 auto 60px;
}
.detail_img img{
  display: block;
  width: 100%;
  height: auto;
}
/* go-top btn */
.go-top {
  position: fixed;
  right: 100px;
  bottom: 60px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
  color: var(--gray7);
  border: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}
/* 나타나는 상태 */
.go-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.go-top svg{
  color: var(--gray6);
}