@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
img{
  vertical-align: top;
  max-width: 100%;
}
button{
  cursor: pointer;
}
:root {
  --gray8: #1b1c1f;
  --gray7: #26282b;
  --gray6: #474c52;
  --gray5: #73787e;
  --gray4: #9fa4a8;
  --gray3: #cacdd2;
  --gray2: #eaebed;
  --gray1: #eaebed;
  --gray0: #ffffff;
  --home_border_color: #e0e0e0;
  --btn_color: #1456fd;
  /* header 관련 */
  --header-top: 45px;
  --header-height: 69px;
  --main-extra: 106px;
}
body {
  font-family: "TASA Explorer", sans-serif;
  font-style: normal;
}
/* 공통 클래스 */
.home_text {
  color: var(--gray8, #1b1c1f);
  text-align: center;
  font-family: "TASA Explorer";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
}
.home_title {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}
.home_project_title {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}
.home_project_title::after {
  content: "";
  display: block;
  width: 40px;
  height: 1.5px;
  background: var(--home_border_color);
  margin-top: 10px;
}
.home_project_desc {
  color: var(--gray7, #26282b);
  font-family: "TASA Explorer";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.16px;
  margin: 15px 0 10px;
}
.tech_btn {
  max-width: 414px;
}
.tech_btn span {
  border-radius: 8px;
  background: var(--gray4, #9fa4a8);
  color: var(--gray0);
  padding: 4px 10px;
  font-weight: 400;
  font-size: 14px;
}
.home_nav {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 20px;
  font-weight: 500;
}
.detailPage_title {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.detailPage_desc {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 172.222% */
  letter-spacing: -0.18px;
}

/* 전체 */
.container {
  width: 100%;
}
.inner {
  width: 1440px;
  /* background: rgb(201, 245, 201); */
  margin: 0 auto;
  position: relative;
}
/* 헤더 */
header {
  width: 100%;
  max-width: 1760px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
  /* position: fixed; */
  /* top: 45px; */
  /* left: 0; */
}
header .logo {
  width: 35.7px;
  height: 69px;
  flex-shrink: 0;
}
header .logo img {
  width: 100%;
  object-fit: cover;
}
header nav .gnb {
  display: flex;
  gap: 36px;
  cursor: pointer;
}
header nav .gnb li:hover{
  color: var(--gray5);
}
/* main visual */
.inner .main {
  padding-top: calc(
    var(--header-top) + var(--header-height) + var(--main-extra)
  );
}
.inner .main .visual {
  width: 869px;
  height: 533px;
  flex-shrink: 0;
  margin: auto;
}
.inner .main .visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner .main .introduction {
  width: 913px;
  /* background: pink; */
  margin: 0 auto;
  margin-top: 170px;
}
.introduction p + p {
  margin-top: 5%;
}
/* 프로젝트 -웹 퍼블리싱 */
#projects{
   scroll-margin-top: 80px;
}
.project_wrap .web_wrap {
  position: relative;
  padding-left: calc((100vw - 92%) / 2);
  margin-top: 260px;
  /* background: pink; */
}
.project_wrap .web_wrap .webPub_title {
  margin-bottom: 40px;
}
.project_wrap .web_wrap .mySwiper {
  overflow: visible;
  height: auto;
}
.project_wrap .web_wrap .mySwiper swiper-slide {
  width: 414px !important;
  flex-shrink: 0;
  /* margin-right: 40px; */
}
.project_wrap .web_wrap .mySwiper swiper-slide a{
  height: 100%;
}
.project_wrap .web_wrap .mySwiper swiper-slide a:hover .web_thumb img{
  transform: scale(0.95);
}
.project_wrap .web_wrap .mySwiper swiper-slide .web_thumb {
  width: 414px;
  height: 267px;
  flex-shrink: 0;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  pointer-events: none;
  overflow: hidden;
}
.project_wrap .web_wrap .mySwiper swiper-slide .web_thumb img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.project_wrap .web_wrap .mySwiper swiper-slide .desc_wrap {
  width: 414px;
  height: 135px;
  pointer-events: none;
  /* background: yellowgreen; */
}
.project_wrap .home_border {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  border: 1px solid var(--home_border_color);
  margin: 170px 0;
}
/* 커스텀 dot */
.custom-dots {
  position: absolute;
  top: 50%; /* Swiper 내부 기준 상단 */
  left: 0;
  right: 0;
  transform: translateY(-50%); /* 그룹 자체를 정확히 가운데로 */
  z-index: 99;
}
.custom-dots .dot {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.custom-dots .dot:hover {
  scale: 1.1;
  opacity: 1;
}
/* 왼쪽 dot */
.custom-dots .dot-prev {
  top: 0;
  left: 100px;
}
/* 오른쪽 dot */
.custom-dots .dot-next {
  top: 0;
  right: 100px;
}
/* 프로젝트 -디자인 */
.design_wrap{
  display: flex;
  justify-content: space-between;
}
.design_right .design_box{
  margin-bottom: 150px;
}
.design_right .design_box .design_thumb{
  margin-top: 20px;
}
.design_right .design_box .design_thumb img{
  width: 891px;
  height: 668px;
  object-fit: cover;
}
.design_right .design_box .design_desc_wrap{
  margin-top: 30px;
}
.design_right .design_box .design_desc_wrap .tech_btn{
  margin-top: 12px;
}
.design_desc_wrap p{
  color: var(--gray7, #26282B);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
}