@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
:root {
  --gray8: #1b1c1f;
  --gray7: #26282b;
  --gray6: #474c52;
  --gray5: #73787e;
  --gray4: #9fa4a8;
  --gray3: #cacdd2;
  --gray2: #eaebed;
  --gray1: #eaebed;
  --gray0: #ffffff;
  --home_border_color: #e0e0e0;
  --btn_color: #1456fd;
  /* header 관련 */
  --header-top: 45px;
  --header-height: 69px;
  --main-extra: 106px;
}

body {
  font-family: "TASA Explorer", sans-serif;
  font-style: normal;
}
/* 공통 클래스 */
.home_text {
  color: var(--gray8, #1b1c1f);
  text-align: center;
  font-family: "TASA Explorer";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
}
.home_title {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}
.home_project_title {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}
.home_project_title::after {
  content: "";
  display: block;
  width: 40px;
  height: 1.5px;
  background: var(--home_border_color);
  margin-top: 10px;
}
.home_project_desc {
  color: var(--gray7, #26282b);
  font-family: "TASA Explorer";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.16px;
  margin: 15px 0 10px;
}
.tech_btn {
  max-width: 414px;
}
.tech_btn span {
  border-radius: 8px;
  background: var(--gray4, #9fa4a8);
  color: var(--gray0);
  padding: 4px 10px;
}
.home_nav {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.detailPage_title {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.detailPage_desc {
  color: var(--gray8, #1b1c1f);
  font-family: "TASA Explorer";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 172.222% */
  letter-spacing: -0.18px;
}

/* 전체 */
.container {
  width: 100%;
  /* background: rgb(235, 202, 198); */
}
.inner_container {
  width: 92%;
  max-width: 1760px;
  /* background: rgb(201, 245, 201); */
  margin: 0 auto;
  position: relative;
}
header {
  width: 92%;
  max-width: 1760px;
  top: 45px;
  /* left: 0; */
  height: 69px;
  display: flex;
  position: fixed;
  justify-content: space-between;
}
header .logo {
  width: 35.7px;
  height: 69px;
  flex-shrink: 0;
}
header .logo img {
  width: 100%;
  object-fit: cover;
}
header nav .gnb {
  display: flex;
  gap: 36px;
  cursor: pointer;
}
/* main visual */
.inner_container .main {
  padding-top: calc(
    var(--header-top) + var(--header-height) + var(--main-extra)
  );
}
.inner_container .main .visual {
  width: 869px;
  height: 533px;
  flex-shrink: 0;
  margin: auto;
}
.inner_container .main .visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner_container .main .introduction {
  width: 913px;
  background: pink;
  margin: 0 auto;
  margin-top: 170px;
}
.introduction p + p {
  margin-top: 5%;
}
/* project-section*/
.inner_container .proeject_wrap {
  background: pink;
  margin-top: 260px;
}
swiper-container swiper-slide {
  width: 414px;
  flex-shrink: 0;
}
swiper-container swiper-slide .web_thumb {
  width: 414px;
  height: 267px;
  flex-shrink: 0;
  background: blue;
}
swiper-container swiper-slide .web_thumb img {
  width: 100%;
}
swiper-container swiper-slide .bingfree_desc_wrap {
  width: 414px;
  background: yellowgreen;
}
